Flask==2.2.5
Flask-Assets==0.11
Flask-Cors==4.0.1
Flask-HTTPAuth==2.7.0
Flask-SQLAlchemy==2.0
gunicorn==22.0.0
itsdangerous==0.24
Jinja2==3.1.4
MarkupSafe==0.23
psycopg2==2.6.1
publisher==0.10
requests==2.31.0
shortuuid==0.4.2
six==1.9.0
SQLAlchemy==1.0.8
webassets==0.11.1
Werkzeug==3.0.3
wheel==0.38.1
